---
import Home from './Home.astro';
import Layout from '../../layouts/en/Layout.astro';
---

<Layout>
	<div slot="content">
		<!-- 这里是主页内容 -->
		<!-- 可以添加欢迎信息、公司介绍、服务概述等 -->
		<!-- 例如： -->
		<Home />
	</div>
</Layout>