---
import "../../styles/global.css";
import Navbar from "../../components/en/Navbar.astro";
import Footer from "../../components/en/Footer.astro";
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>GM Sensor - Leading Industry Innovation</title>
    <style is:global>
      html {
        scroll-behavior: smooth;
      }
      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <Navbar />
    <main class="pt-16">
      <slot name="content" />
    </main>
    <Footer />
  </body>
</html>